<div class="center hero-unit">
    <h1>Welcome to the Library</h1>
    <h2>This is the home page for the Library.</h2>
    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
